```bash
$ gcc main.c parse_line.c && ./a.out 
hello world
hello
world

 how many arguments
how
many
arguments
```
